<nav class="mb-2">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Devices</li>
  </ol>
</nav>

<div class="row mb-2">
  <div class="col-6">
    <h1 class="h2 border-left pl-2 pt-1">Devices</h1>
  </div>
  <div class="col-6">
    <a routerLink="new" class="btn btn-success float-right"> + New Device</a>
  </div>
</div>

<table class="table table-hover table-responsive table-bordered table-striped">
  <thead>
    <tr class="bg-light">
      <th>#</th>
      <th>Category</th>
      <th>Part number</th>
      <th class="text-center">Color</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let device of devices" class="align-middle">
      <td>{{ device.id }} </td>
      <td>{{ device.category?.name }}</td>
      <td>{{ device.partNumber }}</td>
      <td class="text-center">
        <button mat-icon-button [ngStyle]="{'background-color': device.color}" style="width: 25px; height: 25px;">
        </button>
      </td>
      <td class="text-center">
        <a [routerLink]="[device.id, 'edit']" class="btn bg-transparent text-info p-0"><i class="material-icons">
            edit
          </i></a>
        <button class="btn bg-transparent text-danger btn-sm p-0" type="button" (click)="delete(device.id!)"><i
            class="material-icons">
            delete
          </i></button>
      </td>
    </tr>
  </tbody>
</table>
